astropy==2.0.2
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
branca==0.2.0
chardet==3.0.4
folium==0.5.0
funcsigs==1.0.2
h5py==2.7.1
idna==2.6
jupyter-nbextensions-configurator==0.2.8
jupyter-contrib-nbextensions==0.3.3
Keras==2.0.8
Markdown==2.6.9
mock==2.0.0
mpmath==0.19
networkx==1.11
#notebook==5.1.0
nugridpy==0.7.4
olefile==0.44
pbr==3.1.1
Pillow==4.2.1
protobuf==3.4.0
py==1.4.34
pytest==3.2.2
PyYAML==3.12
requests==2.18.4
scipy==0.19.1
seaborn==0.8.1
sympy==1.1.1
urllib3==1.22
Werkzeug==2.2.3
